*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    list-style:none;
}
header{
    height: 50vH;
    width:100vW;
    background-image:url(../image/landscape.jpg);
    background-size:cover;
}
.navbar{
    /* position:absolute;*/
     padding:50px 50px 5px 50px;
     display:flex;
     justify-content: space-between;
     align-items: center;
     width:100%;
     box-sizing: border-box;
 }
 .header-info{
    /* position:absolute;*/
    padding:15px 15px 5px 5px;
    display:flex;
    justify-content: space-between;
    
 }
 .temp-autoread{
     width:40%;
 
 }
 .temp-connexion{
     width:30%;
     
 }
 .temp-form{
     width:30%;
    
     opacity: 0.8;
     
     
 }
 .temp-connexion #form-connexion
 {
     width: 15rem;
     background:#6616d0;
     margin:12px;
     border-top-right-radius: 3rem;
     border-bottom-left-radius: 2rem;  
 }
 .temp-form #form-inscription{
     width: 15rem;
     background:#6616d0;
     margin:12px;
     border-top-right-radius: 5rem;
     border-bottom-left-radius: 4rem;
 }
 .temp-connexion form{
     width: 15rem;
     background:#6616d0;
     margin:12px;
     border-top-right-radius: 5rem;
     border-bottom-left-radius: 4rem;
 }
 .temp-form form input{
     margin-left:12px;
 }
 .temp-connexion  form input[type="submit"]{
     background: #ed3c57;
     border-radius:5rem;
     outline:none;
 }
 .temp-form form input[type="submit"]{
     background: #ed3c52;
     border-radius:5rem;
     outline:none;
 }
 .temp-form,.temp-connexion form{
     display: flex;
     flex-direction: row;
     /*width:calc(100%/3 -15);*/
     justify-content: space-between ;
     align-items: center;
     flex-wrap: wrap;
 
 }
 .temp-connexion .input-field input{
     display:inline-block;
     color: var(--color-dark);
     font-size: 12px;
     font-weight:400;
     background-color:var(--color-white);
     width:13rem;
     outline:none;
     border-radius:5px;
     border:1px solid var(--color-white);
     height:25px;
     margin:8px 0;
 }
 .temp-form .input-field input{
     display:inline-block;
     color: var(--color-dark);
     font-size: 14px;
     font-weight:400;
     background-color:var(--color-white);
     width:13rem;
     outline:none;
     border-radius:5px;
     border:1px solid var(--color-white);
     height:30px;
     margin:8px 0;
 }
 .info,.info-connexion{
     color:var(--color-success);
     font-size: 0.8rem;
 }
 /*.input-field input[type="submit"]{
     background: var(--color-primary);
     border-radius:5rem;
     outline:none;
     
 }*/
 .navbar a{
     color:white;
 }
 .nav-links .login a:hover{
     color:white;
 }
 .logo .cm{
     color:#ed3c57;
 }
 .nav-links a:hover{
     color:#ed3c57;
     border-bottom:4px solid #ed3c57;
 }
 
 .navbar .logo{
     font-size:2em;
     font-weight: bold;
 }
 .nav-links .login{
     border: 2px solid #ed3c57;;
     background-color: #ed3c57;;
     padding:7px;
     border-radius: 30%;
 }
 
 .navbar .nav-links ul{
     display:flex;
 } 
 .navbar .nav-links ul li{
     margin:0 15px;
 }
 .navbar .nav-links ul li.active a{
     color:#ed3c57;
     font-weight: 600;
     border-bottom:4px solid #ed3c57;
 }
 .profil{
     display:flex;
     flex-direction: column;
 }
 .profil .info-profil .p-nom{
     font-size: 0.8rem;
 }
 .menu-hamburger{
     display:none;
     position:absolute;
     top:50px;
     right:30px;
     width:35px;
 
 }
 
 @media screen and (max-width:900px) {
     .navbar{
         padding:0;
     }
     .navbar .logo{
         position:absolute;
         top:40px;
         left:30px;
     }
     .menu-hamburger{
         display:block;
     }
     
     .nav-links{
         top:0;
         left:0;
         position:absolute;
         background-color:rgba(255,255,255,0.20);
         backdrop-filter: blur(8px);
         width:35px;
         width:100%;
         height:100vh;
         display:flex;
         justify-content: center;
         align-items: center;
         margin-left:-100%;
         transition:all 0.5s ease;
     }
     .nav-links.mobile-menu{
         margin-left:0;
     }
     .nav-links ul{
         display:flex;
         flex-direction:column;
         align-items: center;
     }
     .navbar .nav-links ul li{
         margin:25px 0;
     }
     /*===========pour le slider=============*/
     section .card .image{
         height:120px;
         width: 120px;
         
     }
     section .container{
         width: 480px;
        /* align-items: center;*/      
     }
    .card{
         width:150px;
         margin-left: 8px;
     }
     .card::before{
        
         margin-right: 8px;
     }
    
     .info-vehicule .marque{
         font-size: 12px;
         
     }
     
     .info-vehicule .info-float .autre-info{
         font-size:10px;
         
     }
     .info-vehicule .info-float p .information{
         color:#f81a3b;
         margin-left:15px;
         font-size: 13px;
     }
     .info-vehicule .nb-cheveau{
         font-size: 12px;
         font-weight:500;
     }
   
     .card .rating i{
         font-size:12px;
         margin:0 2px;
         color:#7d2ae8;
     }
     .card .button{
         
         margin-top:20px;
          
     }
     .card .button button{       
         padding:6px 16px;
         border-radius:20px;
         font-size:12px;
     } 
     /*=================fin du slider============*/
 }
 @media screen and (max-width:542px){
     section{
         display:flex;
         align-items: center;
         justify-content:left;
         
        
     }
     .card .card-content{
         left:2px;
     }
     .card .button button{       
         padding:3px 14px;
         border-radius:20px;
         font-size:10px;
     } 
     .card .button{
         
         margin-top:18px;
          
     }
     section .card .image{
         height:95px;
         width: 95px;
         
     }
     section .container{
         width: 420px;
        /* align-items: center;*/      
     }
     .card{
         width:130px;
         margin-left: 8px;
     }
     .card::before{
        
         margin-right: 6px;
     }
     .info-vehicule .marque{
         font-size: 10px;
         
     }
     .info-vehicule .marque{
         font-size: 12px;
         
     }
     
     .info-vehicule .info-float .autre-info{
         font-size:10px;
         
     }
     .info-vehicule .info-float p .information{
         color:#f81a3b;
         margin-left:15px;
         font-size: 10px;
     }
     .info-vehicule .nb-cheveau{
         font-size: 10px;
         font-weight:500;
     }
 
 }
 